:root {
  --fs-100: 0.5rem; /* 8 */
  --fs-200: 0.625rem; /* 10 */
  --fs-300: 0.75rem; /* 12 */
  --fs-400: 1rem; /* 16 */
  --fs-500: 1.25rem; /* 20 */
  --fs-600: 1.50rem; /* 24 */
  --fs-700: 2rem; /* 32 */
  --size-50: 0.25rem; /* 4 */
  --size-100: 0.5rem; /* 8 */
  --size-200: 0.625rem; /* 10 */
  --size-300: 0.75rem; /* 12 */
  --size-400: 1rem; /* 16 */
  --size-500: 1.25rem; /* 20 */
  --size-600: 1.50rem; /* 24 */
  --size-700: 2rem; /* 32 */
  --clr-p: rgb(255, 255,255);
  --clr-shadow: rgb(194, 194, 194);
  --clr-bg: rgb(231, 231, 231);
  --clr-img: hsl(209, 23%, 22%);
  color: hsl(209, 23%, 22%);
}

/* reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* reset end */
body {
  font-family: sans-serif;
  background-color: var(--clr-bg);
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: var(--size-500);
  font-family: sans-serif;
  background-color: var(--clr-p);
}
header button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-100);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}
header button p {
  font-weight: 600;
  font-size: var(--fs-400);
  text-transform: capitalize;
}

main {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  gap: var(--size-700);
  padding-top: var(--size-700) !important;
}
main .searchCont {
  display: flex;
  padding: var(--size-400) var(--size-600);
  gap: var(--size-400);
  background-color: var(--clr-p);
  border-radius: var(--size-50);
  cursor: pointer;
}
main .searchCont input {
  flex: auto;
  border: none;
  background-color: var(--clr-p);
  color: inherit;
}
main .searchCont input:focus-visible {
  border: none;
  outline: none;
}
main #dropdown {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-left: auto;
}
main #dropdown #dropdown_header {
  display: flex;
  gap: var(--size-600);
  justify-content: space-between;
  background-color: var(--clr-p);
  border-radius: var(--size-50);
  padding: var(--size-300) var(--size-600);
  cursor: pointer;
}
main #dropdown #dropdown_body {
  display: none;
  background-color: var(--clr-p);
  border-radius: var(--size-50);
  position: absolute;
  width: 100%;
  top: calc(100% + var(--size-100));
  left: 0;
  padding-inline: var(--size-400);
}
main #dropdown #dropdown_body ul li {
  text-transform: capitalize;
  margin-block: var(--size-400);
  cursor: pointer;
}
main #dropdown .visible {
  display: block !important;
}
main .countries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-700);
  padding: var(--size-400);
}
main .countries .country {
  border-radius: var(--size-50);
  background-color: var(--clr-p);
  width: 320px;
}
main .countries .country h1 {
  font-weight: 700;
  font-size: var(--fs-500);
  margin: var(--size-600) var(--size-400) var(--size-400);
}
main .countries .country ul {
  margin: var(--size-400) var(--size-400) var(--size-600);
}
main .countries .hideCountry {
  display: none !important;
}
main .countries .hideCountryIfNotMatchWSearch {
  display: none !important;
}
main #backBtn {
  display: flex;
  padding: var(--size-100) var(--size-200);
  gap: var(--size-50);
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background-color: var(--clr-p);
  cursor: pointer;
  color: inherit;
}
main #backBtn p {
  text-transform: capitalize;
}
main .details h1 {
  font-size: var(--fs-600);
  font-weight: 600;
  margin-block: var(--size-600);
}
main .details ul {
  margin-block: var(--size-600);
}
main .details ul li span {
  font-weight: 700;
  text-transform: capitalize;
}
main .details section h2 {
  font-weight: 700;
  text-transform: capitalize;
}
main .details section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--fs-400);
}
main .details section ul section {
  cursor: pointer;
  background-color: var(--clr-p);
  padding: var(--size-100) var(--size-300);
}

@media (width > 47em) {
  .details {
    display: grid;
    grid-template: repeat(3, min(400px, fit-content))/repeat(4, min(400px, 1fr));
    grid-template-areas: "img img title title" "img img p-ul sec-ul" "img img borders borders";
    -moz-column-gap: 50px;
         column-gap: 50px;
    align-items: center;
  }
  .details img {
    grid-area: img;
  }
  .details h1 {
    font-size: var(--fs-600);
    font-weight: 600;
    grid-area: title;
    align-self: end;
    margin: 0 !important;
    margin-bottom: var(--size-300) !important;
  }
  .details ul {
    margin: 0 !important;
    margin-bottom: var(--size-600) !important;
  }
  .details ul li span {
    font-weight: 700;
    text-transform: capitalize;
  }
  .details ul:nth-child(3) {
    grid-area: p-ul;
  }
  .details ul:nth-child(4) {
    grid-area: sec-ul;
  }
  .details section {
    grid-area: borders;
  }
  .details section h2 {
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: var(--size-400);
  }
  .details section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--fs-400);
    margin: 0 !important;
  }
  .details section ul section {
    cursor: pointer;
    background-color: var(--clr-p);
    padding: var(--size-100) var(--size-300);
  }
}
img {
  fill: var(--clr-img) !important;
}

/* utility classes */
.shadow {
  box-shadow: 0px 1px 10px 1px var(--clr-shadow);
}

.shadow-all {
  box-shadow: 0px 0px 10px 1px var(--clr-shadow);
}

.icon {
  width: var(--fs-600);
}

.padding-400 {
  padding: var(--size-400);
}

.arrow-white {
  content: url(./assets/arrow-backdarkmode.svg);
}

.down-white {
  content: url(./assets/downdarkmode.svg);
}

.search-white {
  content: url(./assets/searchdarkmode.svg);
}/*# sourceMappingURL=style.css.map */